[v-cloak] {
    display: none;
}

div[contenteditable="true"] li {
    list-style-type: disc !important
}

div[contenteditable="true"] {
    background-color: rgba(228, 228, 228, 0.5);
    padding: 5px;
    margin: 5px;
}

div[contenteditable="true"] .recipe {
    cursor: pointer;
    border-radius: 6px;
    padding: 0 5px;
}

div[contenteditable="true"] .recipe.ingredient {
    background-color: rgba(200, 200, 216, 0.3);
}

div[contenteditable="true"] .recipe.time {
    background-color: rgba(94, 124, 96, 0.3);
}

div[contenteditable="true"] .recipe.temperature {
    background-color: rgba(173, 128, 128, 0.3);
}