<!DOCTYPE html>
<html>

<head>
    <title>Recepturer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Dependencies -->
    <script src="resources/vuejs/vue.js"></script>
    <link href="resources/googlefonts/materialicons.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/materialize/css/materialize.min.css">
    <script type="application/javascript" src="resources/materialize/js/materialize.min.js"></script>
    <!-- Recepturer -->
    <link rel="stylesheet" href="css/style.css" />
    <script type="application/javascript" src="js/recepturer.js"></script>
    <script type="application/javascript" src="components/recipes.js"></script>
    <script type="application/javascript" src="components/recipe.js"></script>
    <script type="application/javascript" src="components/mealplan.js"></script>
    <script type="application/javascript" src="components/shoppinglist.js"></script>
    <script type="application/javascript" src="components/administration.js"></script>
    <script type="application/javascript" src="components/debug.js"></script>
</head>

<body>
    <div id="recepturer">

        <!-- App -->
        <header v-cloak>
            <a data-target="nav-mobile" class="top-nav sidenav-trigger btn-floating btn-large teal lighten-3 waves-effect waves-light hide-on-large-only" style="margin: 15px;">
                <i class="material-icons">menu</i>
            </a>
            <ul id="nav-mobile" class="sidenav sidenav-fixed">
                <li class="center-align" style="padding-top: 20px;">
                    <img src="resources/faviconio-logo/r.svg" />
                    <img src="resources/faviconio-logo/recepturer.svg" width="80%" />
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='recipes' || page=='recipe'}">
                    <a :href="'#/recipes/'" class="waves-effect waves-teal"><i class="material-icons">blender</i>Recipes <span class="new badge" data-badge-caption="">{{this.recipes.length}}</span></a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='mealplan'}">
                    <a :href="'#/mealplan/'" class="waves-effect waves-teal"><i class="material-icons">menu_book</i>Meal plan <span class="new badge" data-badge-caption="meals" v-if="this.mealplan.length > 0">{{this.mealplan.length}}</span></a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='shoppinglist'}">
                    <a :href="'#/shoppinglist/'" class="waves-effect waves-teal"><i class="material-icons">shopping_cart</i>Shopping list</a>
                </li>
                <li>
                    <div class="divider"></div>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='administration'}">
                    <a :href="'#/administration/'" class="waves-effect waves-teal"><i class="material-icons">tune</i>Administration</a>
                </li>
                <li v-if="isDebug()">
                    <div class="divider"></div>
                </li>
                <li v-if="isDebug()">
                    <a class="subheader">Development</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='debug'}" v-if="isDebug()">
                    <a :href="'#/debug'" class="waves-effect waves-teal"><i class="material-icons">adb</i>Debug</a>
                </li>
            </ul>
        </header>

        <main v-if="page=='recipes'">
            <recipes :recipes="recipes" />
        </main>

        <main v-if="page=='recipe'">
            <recipe :recipe="recipe" />
        </main>

        <main v-if="page=='mealplan'">
            <mealplan :mealplan="mealplan" />
        </main>

        <main v-if="page=='shoppinglist'">
            <shoppinglist :mealplan="mealplan" :shoppinglist="shoppinglist" :categories="categories" />
        </main>

        <main v-if="page=='administration'">
            <administration :settings="settings" />
        </main>

        <main v-if="page=='debug'">
            <debug :recipes="recipes" />
        </main>

    </div>


    <script type="application/javascript">
        var rcp;

        // DOM bindings
        var recepturer = new Vue({
            el: "#recepturer",
            data: {
                page: "recipe",
                recipe: {
                    id: "",
                    title: "",
                    description: "",
                    directions: ""
                },
                recipes: [{
                    id: "appeltaart",
                    title: "Appeltaart",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* 123 gram druiven 500 ml melk 1 liter melk 3 theelepels zout 1 kilo peper 2 stuks bieten Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "appeltaart-2",
                    title: "Appeltaart 2",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "appeltaart-17",
                    title: "Appeltaart 17",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "appeltaart-18",
                    title: "Appeltaart 18",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "appeltaart-19",
                    title: "Appeltaart 19",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "bananentaart",
                    title: "bananentaart",
                    description: "Iets met appels en weet ik veel wat.",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }, {
                    id: "appeltaart-21",
                    title: "Appeltaart 21",
                    description: "Lekker lekker",
                    directions: "* Schil 500 gram appels zonder schil\n* Doe er 50 gram deeg bij\n* Zet het geheel 30 minuten in de oven op 200 graden\n* Doe er nog 12 gram appels bij"
                }],
                mealplan: [],
                shoppinglist: [],
                categories: [{
                    name: "Groente",
                    products: [{
                        name: "bieten"
                    }]
                }, {
                    name: "Fruit",
                    products: [{
                        name: "appels"
                    }, {
                        name: "druiven"
                    }]
                }, {
                    name: "Vleeswaren",
                    products: []
                }, {
                    name: "Blik",
                    products: [{
                        name: "deeg"
                    }]
                }, {
                    name: "Zuivel",
                    products: [{
                        name: "melk"
                    }]
                }, {
                    name: "Brood",
                    products: []
                }],
                settings: {
                    unitofmeasure: [{
                        name: "g",
                        unit: "gram",
                        conversion: 1
                    }, {
                        name: "gram",
                        unit: "gram",
                        conversion: 1
                    }, {
                        name: "kg",
                        unit: "gram",
                        conversion: 1000
                    }, {
                        name: "kilo",
                        unit: "gram",
                        conversion: 1000
                    }, {
                        name: "kilogram",
                        unit: "gram",
                        conversion: 1000
                    }, {
                        name: "pond",
                        unit: "gram",
                        conversion: 500
                    }, {
                        name: "ml",
                        unit: "milliliter",
                        conversion: 1
                    }, {
                        name: "milliliter",
                        unit: "milliliter",
                        conversion: 1
                    }, {
                        name: "dl",
                        unit: "milliliter",
                        conversion: 10
                    }, {
                        name: "deciliter",
                        unit: "milliliter",
                        conversion: 10
                    }, {
                        name: "cl",
                        unit: "milliliter",
                        conversion: 100
                    }, {
                        name: "centiliter",
                        unit: "milliliter",
                        conversion: 100
                    }, {
                        name: "l",
                        unit: "milliliter",
                        conversion: 1000
                    }, {
                        name: "liter",
                        unit: "milliliter",
                        conversion: 1000
                    }, {
                        name: "kop",
                        unit: "kop",
                        conversion: 1
                    }, {
                        name: "kopje",
                        unit: "kop",
                        conversion: 1
                    }, {
                        name: "kopjes",
                        unit: "kop",
                        conversion: 1
                    }, {
                        name: "el",
                        unit: "el",
                        conversion: 1
                    }, {
                        name: "eetlepel",
                        unit: "el",
                        conversion: 1
                    }, {
                        name: "eetlepels",
                        unit: "el",
                        conversion: 1
                    }, {
                        name: "tl",
                        unit: "tl",
                        conversion: 1
                    }, {
                        name: "theelepel",
                        unit: "tl",
                        conversion: 1
                    }, {
                        name: "theelepels",
                        unit: "tl",
                        conversion: 1
                    }, {
                        name: "stuk",
                        unit: "stuk",
                        conversion: 1
                    }, {
                        name: "stuks",
                        unit: "stuk",
                        conversion: 1
                    }, {
                        name: "hele",
                        unit: "hele",
                        conversion: 1
                    }, {
                        name: "halve",
                        unit: "hele",
                        conversion: 0.5
                    }, {
                        name: "paar",
                        unit: "paar",
                        conversion: 1
                    }, {
                        name: "teen",
                        unit: "teen",
                        conversion: 1
                    }, {
                        name: "tenen",
                        unit: "teen",
                        conversion: 1
                    }, {
                        name: "teentje",
                        unit: "teen",
                        conversion: 1
                    }, {
                        name: "teentjes",
                        unit: "teen",
                        conversion: 1
                    }, {
                        name: "stengel",
                        unit: "stengel",
                        conversion: 1
                    }, {
                        name: "stengels",
                        unit: "stengel",
                        conversion: 1
                    }, {
                        name: "pak",
                        unit: "pak",
                        conversion: 1
                    }, {
                        name: "pakken",
                        unit: "pakken",
                        conversion: 1
                    }, {
                        name: "zak",
                        unit: "zak",
                        conversion: 1
                    }, {
                        name: "zakken",
                        unit: "zak",
                        conversion: 1
                    }, ],
                    temperature: [{
                        name: "c"
                    }, {
                        name: "f"
                    }, {
                        name: "graden"
                    }, {
                        name: "celsius"
                    }, {
                        name: "fahrenheit"
                    }, {
                        name: "fahrenheit"
                    }],
                    time: [{
                        name: "m"
                    }, {
                        name: "min"
                    }, {
                        name: "minuut"
                    }, {
                        name: "minuten"
                    }, {
                        name: "u"
                    }, {
                        name: "uur"
                    }, {
                        name: "uren"
                    }, {
                        name: "s"
                    }, {
                        name: "seconde"
                    }, {
                        name: "seconden"
                    }, {
                        name: "secondes"
                    }]
                }
            },
            created: function() {
                rcp = new Recepturer();
                rcp.settings(this.settings);
            },
            methods: {
                isDebug: function() {
                    return true;
                },
                isOnMealplan: function(recipe) {
                    return this.$root.mealplan.some(r => r.id == recipe.id);
                },
                addToMealPlan: function(recipe, people) {
                    recipe.people = people;
                    this.$root.mealplan.push(recipe);
                },
                removeFromMealPlan: function(recipe) {
                    var i = this.$root.mealplan.findIndex(r => r.id == recipe.id);
                    if (i > -1) {
                        this.$delete(this.$root.mealplan, i);
                    }
                }
            }
        });

        function router() {
            var url = document.location.hash.split("/");
            document.title = `Recepturer`;
            switch (url[1]) {
                case "recipes":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Recipes`;
                    break;
                case "recipe":
                    recepturer.page = url[1];
                    recepturer.recipe = recepturer.recipes.find(recipe => recipe.id == url[2]);
                    if (recepturer.recipe) {
                        document.title = `Recepturer - ${recepturer.recipe.title || "New recipe"}`;
                    } else {
                        document.title = `Recepturer - Recipes`;
                    }
                    break;
                case "mealplan":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Meal plan`;
                    break;
                case "shoppinglist":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Shopping list`;
                    break;
                case "administration":
                    recepturer.page = "administration";
                    break;
                case "debug":
                    recepturer.page = "debug";
                    break;
                default:
                    // Unknown link, do nothing
                    recepturer.page = "start";
                    document.title = `Recepturer`;
                    break;
            }
            window.setTimeout(function() {
                M.AutoInit();
            }, 50)
        }
        window.addEventListener("hashchange", router);
        router();
    </script>

    <!-- Dependencies -->
    <script type="application/javascript">
        M.AutoInit();
    </script>

</body>

</html>