<!DOCTYPE html>
<html>

<head>
    <title>Recepturer</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!-- Dependencies -->
    <script src="resources/vuejs/vue.js"></script>
    <link href="resources/googlefonts/materialicons.css" rel="stylesheet">
    <link rel="stylesheet" href="resources/materialize/css/materialize.min.css">
    <script type="application/javascript" src="resources/materialize/js/materialize.min.js"></script>
    <script src="https://unpkg.com/dropbox@9.8.0/dist/Dropbox-sdk.min.js"></script>
    <!-- Recepturer -->
    <link rel="stylesheet" href="css/style.css" />
    <script type="application/javascript" src="js/recepturer.js"></script>
    <script type="application/javascript" src="components/recipes.js"></script>
    <script type="application/javascript" src="components/recipe.js"></script>
    <script type="application/javascript" src="components/mealplan.js"></script>
    <script type="application/javascript" src="components/shoppinglist.js"></script>
    <script type="application/javascript" src="components/administration.js"></script>
    <script type="application/javascript" src="components/debug.js"></script>
</head>

<body>
    <div id="recepturer">

        <!-- Start -->
        <div v-if="page=='start'" class="container" style="max-width: 600px;">
            <h1 class="header">
                <img src="resources/faviconio-logo/recepturer.svg" width="80%" title="Recepturer" />
            </h1>
            <div class="divider"></div>
            <div class="section">
                <h4 class="light">Manage all your recipes in one app.</h4>
                <p style="text-align: justify;">
                    Let Recepturer help you organize all your recipes in one place. You can add, edit and delete recipes, and create meal plans. Simply type your recipe and all ingredients will be listed as you go.
                </p>
                <p style="text-align: justify; ">
                    Set up your shopping list and tick off all the ingredients you need. Easily order your shopping list according to your favorite groceries store.
                </p>
            </div>
            <div class="section center-align">
                <button class="btn-large waves-effect waves-light " v-on:click="dropboxConnect() "><i class="material-icons left ">import_contacts</i>Open with Dropbox</button>
                <button class="btn-large waves-effect waves-light teal lighten-3 " v-on:click="loadDemo() "><i class="material-icons left ">science</i>Demo</button>
            </div>
            <div class="section">
                <p>
                    Recepturer is a <a href="https://github.com/sjoerdvanderhoorn/recepturer" target="_blank">free and open source</a> application. All data is stored in your own Dropbox account.
                </p>
            </div>
            <div class="divider"></div>
            <div class="section">
                <h4 class="header">Features</h4>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">blender</i>Recipe authoring</div>
                        <div class="collapsible-body">
                            <span>Easily type up your recipes. Recepturer will automatically distill all ingredients so they can be added to your shopping list.</span>
                            <p>
                                <img class="materialboxed" width="100%" src="screenshots/recipe.png">
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">menu_book</i>Create a meal plan</div>
                        <div class="collapsible-body">
                            <span>Add or remove recipes to create a meal plan. Ingredients are automatically added to your shopping list as you go.</span>
                            <p>
                                <img class="materialboxed" width="100%" src="screenshots/mealplan.png">
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">shopping_cart</i>Shopping list</div>
                        <div class="collapsible-body">
                            <span>All ingedients from your meal plan are added to the shopping list. Tell Recepturer what type of product each ingredient is and it will arrange them in the right order for you to pick them up at your grocies store.</span>
                            <p>
                                <img class="materialboxed" width="100%" src="screenshots/shoppinglist.png">
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- App -->
        <header v-cloak v-if="page!='start' ">
            <a data-target="nav-mobile " class="top-nav sidenav-trigger btn-floating btn-large teal lighten-3 waves-effect waves-light hide-on-large-only " style="margin: 15px; ">
                <i class="material-icons ">menu</i>
            </a>
            <ul id="nav-mobile " class="sidenav sidenav-fixed ">
                <li class="center-align " style="padding-top: 20px; ">
                    <img src="resources/faviconio-logo/r.svg" />
                    <img src="resources/faviconio-logo/recepturer.svg" width="80% " />
                </li>
                <li>
                    <div class="divider "></div>
                </li>
                <li class="bold sidenav-close " :class="{active: page=='recipes' || page=='recipe' } ">
                    <a :href=" '#/recipes/' " class="waves-effect waves-teal "><i class="material-icons ">blender</i>Recipes <span class="new badge " data-badge-caption=" ">{{this.recipes.length}}</span></a>
                </li>
                <li class="bold sidenav-close " :class="{active: page=='mealplan' } ">
                    <a :href=" '#/mealplan/' " class="waves-effect waves-teal "><i class="material-icons ">menu_book</i>Meal plan <span class="new badge " data-badge-caption=" " v-if="this.mealplan.length> 0">{{this.mealplan.length}}</span>
                    </a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='shoppinglist'}">
                    <a :href="'#/shoppinglist/'" class="waves-effect waves-teal"><i class="material-icons">shopping_cart</i>Shopping list <span class="new badge" data-badge-caption="" v-if="shoppinglistArranged.length > 0">{{ shoppinglistArranged.reduce(function(total, category) {return total + category.ingredients.filter(ingredient => ingredient.checked).length;}, 0) }} / {{ shoppinglistArranged.reduce(function(total, category) {return total + category.ingredients.length;}, 0) }}</span></a>
                </li>
                <li>
                    <a class="subheader">Configuration</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='administration'}">
                    <a :href="'#/administration/'" class="waves-effect waves-teal"><i class="material-icons">tune</i>Administration</a>
                </li>
                <li>
                    <a class="subheader">{{ storage.location=='dropbox' ? "Dropbox" : "Storage" }}</a>
                </li>
                <li class="bold sidenav-close" v-if="storage.location=='dropbox'">
                    <a @click="dropboxSave()" v-if="!storage.outstandingChanges" class="waves-effect waves-teal grey-text"><i class="material-icons">published_with_changes</i>Up to date</a>
                    <a @click="dropboxSave()" v-if="storage.outstandingChanges" class="waves-effect waves-teal"><i class="material-icons">hourglass_empty</i>Unsaved changes</a>
                    <a @click="dropboxLogout()" class="waves-effect waves-teal"><i class="material-icons">logout</i>Log out</a>
                </li>
                <li class="bold sidenav-close" v-if="storage.location=='file'">
                    <a @click="dropboxLogout()" class="waves-effect waves-teal"><i class="material-icons">logout</i>Exit</a>
                </li>
                <li v-if="isDebug()">
                    <div class="divider"></div>
                </li>
                <li v-if="isDebug()">
                    <a class="subheader">Development</a>
                </li>
                <li class="bold sidenav-close" :class="{active: page=='debug'}" v-if="isDebug()">
                    <a :href="'#/debug'" class="waves-effect waves-teal"><i class="material-icons">adb</i>Debug</a>
                </li>
            </ul>
        </header>

        <main v-if="page=='recipes'">
            <recipes :recipes="recipes" />
        </main>

        <main v-if="page=='recipe'">
            <recipe :recipe="recipe" />
        </main>

        <main v-if="page=='mealplan'">
            <mealplan :mealplan="mealplan" />
        </main>

        <main v-if="page=='shoppinglist'">
            <shoppinglist :mealplan="mealplan" :shoppinglist="shoppinglist" :categories="categories" />
        </main>

        <main v-if="page=='administration'">
            <administration :settings="settings" />
        </main>

        <main v-if="page=='debug'">
            <debug :recipes="recipes" />
        </main>

    </div>


    <script type="application/javascript">
        var rcp;

        // DOM bindings
        var recepturer = new Vue({
            el: "#recepturer",
            data: {
                page: null,
                "recipe": {
                    "id": "",
                    "title": "",
                    "description": "",
                    "directions": ""
                },
                recipes: [],
                mealplan: [],
                shoppinglist: [],
                categories: [],
                settings: {
                    unitofmeasure: [],
                    temperature: [],
                    time: []
                },
                storage: {
                    location: null,
                    outstandingChanges: false
                }
            },
            computed: {
                shoppinglistArranged: function() {
                    // Calculate exact quantity based on "recipe for" and people
                    var ingredients = this.mealplan.map(recipe => {
                        return rcp.parse(recipe.directions).map(ingredient => {
                            ingredient.quantity = ingredient.quantity / recipe.for * recipe.people;
                            return ingredient;
                        });
                    });
                    // Combine ingredients from mealplan with (ad hoc) shoppinglist
                    ingredients = ingredients.flat().map(ingredient => {
                        ingredient.checked = false;
                        return ingredient;
                    })
                    ingredients = ingredients.concat(this.shoppinglist);
                    ingredients = rcp.aggregate(ingredients);
                    // Group and by categories
                    ingredients = ingredients.map(ingredient => {
                        ingredient.category = (this.categories.find(category => category.products.find(product => product.name == ingredient.product)) || {
                            name: "Unarranged"
                        }).name;
                        return ingredient;
                    });
                    ingredients = ingredients.reduce((output, ingredient) => {
                        var existing = output.find(category => category.name == ingredient.category);
                        if (existing) {
                            existing.ingredients.push(ingredient);
                        } else {
                            output.push({
                                name: ingredient.category,
                                ingredients: [ingredient]
                            });
                        }
                        return output;
                    }, []);
                    ingredients.sort((a, b) => {
                        var c = this.categories.findIndex(category => category.name == a.name);
                        var d = this.categories.findIndex(category => category.name == b.name);
                        return (c < 0 ? 999 : c) - (d < 0 ? 999 : d);
                    });
                    return ingredients;
                }
            },
            mounted() {
                var dropboxAuth = JSON.parse(window.localStorage.getItem("dropboxAuth"));
                if (dropboxAuth) {
                    this.dropboxLoad();
                }
            },
            created: function() {
                rcp = new Recepturer();
                rcp.settings(this.settings);
            },
            watch: {
                recipes: {
                    handler: function() {
                        this.autoSave();
                    },
                    deep: true
                },
                mealplan: {
                    handler: function() {
                        this.autoSave();
                    },
                    deep: true
                },
                shoppinglist: {
                    handler: function() {
                        this.autoSave();
                    },
                    deep: true
                },
                categories: {
                    handler: function() {
                        this.autoSave();
                    },
                    deep: true
                },
                settings: {
                    handler: function() {
                        this.autoSave();
                    },
                    deep: true
                }
            },
            methods: {
                autoSave: function() {
                    // Delay saving until no changes have been made for 1 seconds
                    recepturer.storage.outstandingChanges = true;
                    clearTimeout(this.autoSaveTimeout);
                    this.autoSaveTimeout = setTimeout(function() {
                        recepturer.dropboxSave();
                    }, 1 * 1000);
                },
                dropboxConnect: function() {
                    var dropboxAuth = JSON.parse(window.localStorage.getItem("dropboxAuth"));
                    if (!(dropboxAuth || {}).access_token) {
                        var dbx = new Dropbox.Dropbox({
                            clientId: 'ssfj3kbdixnrev9'
                        });
                        var authUrl = dbx.auth.getAuthenticationUrl(`${window.location.protocol}//${window.location.host}${window.location.pathname}`)
                            .then(function(authUrl) {
                                // Open URL for authentication
                                document.location = authUrl;
                            });
                    }
                },
                dropboxLoad: function() {
                    var dropboxAuth = JSON.parse(window.localStorage.getItem("dropboxAuth"));
                    var dbx = new Dropbox.Dropbox({
                        accessToken: dropboxAuth.access_token
                    });
                    dbx.filesListFolder({
                            path: ''
                        })
                        .then(function(response) {
                            dbx.filesDownload({
                                    path: response.result.entries.find(file => file.name == "recepturer.json").path_display
                                })
                                .then(file => file.result.fileBlob.text())
                                .then(function(data) {
                                    recepturer.storage.location = "dropbox";
                                    recepturer.load(JSON.parse(data));
                                })
                                .catch(function(error) {
                                    console.error("Error processing file from Dropbox:", error);
                                });
                        })
                        .catch(function(error) {
                            console.error("Error opening file from Dropbox:", error);
                        });
                },
                dropboxSave: function() {
                    var data = recepturer.save();
                    var dropboxAuth = JSON.parse(window.localStorage.getItem("dropboxAuth"));
                    var dbx = new Dropbox.Dropbox({
                        accessToken: dropboxAuth.access_token
                    });
                    // Save file
                    dbx.filesUpload({
                            path: '/recepturer.json',
                            contents: JSON.stringify(data),
                            mode: {
                                ".tag": "overwrite"
                            }
                        })
                        .then(function(response) {
                            recepturer.storage.outstandingChanges = false;
                        })
                        .catch(function(error) {
                            console.error("Error saving file to Dropbox:", error);
                        });
                },
                dropboxLogout: function() {
                    localStorage.removeItem("dropboxAuth");
                    document.location.href = "#/";
                    document.location.reload();
                },
                loadNew: function() {
                    recepturer.storage.location = "file";
                    fetch("example/new.json")
                        .then(function(response) {
                            return response.json();
                        }).then(function(data) {
                            recepturer.load(data);
                        });
                },
                loadDemo: function() {
                    recepturer.storage.location = "file";
                    fetch("example/demo.json")
                        .then(function(response) {
                            return response.json();
                        }).then(function(data) {
                            recepturer.load(data);
                        });
                },
                load: function(data) {
                    recepturer.recipes = data.recipes;
                    recepturer.mealplan = data.mealplan;
                    recepturer.shoppinglist = data.shoppinglist;
                    recepturer.categories = data.categories;
                    recepturer.settings = data.settings;
                    rcp.settings(recepturer.settings);
                    if (recepturer.page == "start") {
                        recepturer.page = "recipes";
                    }
                    router();
                },
                save: function() {
                    var data = {
                        recipes: this.recipes,
                        mealplan: this.mealplan,
                        shoppinglist: this.shoppinglist,
                        categories: this.categories,
                        settings: this.settings
                    }
                    return data;
                },
                isDebug: function() {
                    if (window.sessionStorage.getItem("isDebug") != "on") {
                        // This function will detect whether Dev Tools are on, and if so, enable debug mode for the session
                        var t1 = new Date();
                        debugger;
                        if (new Date() - t1 > 200) {
                            window.sessionStorage.setItem("isDebug", "on");
                        } else {
                            window.sessionStorage.setItem("isDebug", "off");
                        }
                    }
                    return (window.sessionStorage.getItem("isDebug") == "on" ? true : false);
                },
                isOnMealplan: function(recipe) {
                    return this.$root.mealplan.some(r => r.id == recipe.id);
                },
                addToMealPlan: function(recipe, people) {
                    recipe.people = people;
                    this.$root.mealplan.push(recipe);
                },
                removeFromMealPlan: function(recipe) {
                    var i = this.$root.mealplan.findIndex(r => r.id == recipe.id);
                    if (i > -1) {
                        this.$delete(this.$root.mealplan, i);
                    }
                },
                clearMealPlanAndShoppingList: function() {
                    if (window.confirm("Are you sure you want to clear the Meal plan and Shopping list?")) {
                        this.$root.mealplan = [];
                        this.$root.shoppinglist = [];
                    }
                }
            }
        });

        function router() {
            var url = document.location.hash.split("/");
            document.title = `Recepturer`;
            switch (url[1]) {
                case "recipes":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Recipes`;
                    break;
                case "recipe":
                    recepturer.page = url[1];
                    recepturer.recipe = recepturer.recipes.find(recipe => recipe.id == url[2]);
                    if (recepturer.recipe) {
                        document.title = `Recepturer - ${recepturer.recipe.title || "New recipe"}`;
                    } else {
                        document.title = `Recepturer - Recipes`;
                    }
                    break;
                case "mealplan":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Meal plan`;
                    break;
                case "shoppinglist":
                    recepturer.page = url[1];
                    document.title = `Recepturer - Shopping list`;
                    break;
                case "administration":
                    recepturer.page = "administration";
                    break;
                case "debug":
                    recepturer.page = "debug";
                    break;
                default:
                    // Unknown link, do nothing
                    if (recepturer.settings.temperature.length == 0) {
                        recepturer.page = "start";
                    } else {
                        recepturer.page = "recipes";
                    }
                    document.title = `Recepturer`;
                    break;
            }
            if (document.location.hash.includes("access_token=") && document.location.hash.includes("account_id=")) {
                var dropboxAuth = Object.fromEntries(document.location.hash.substr(1).split("&").map(item => item.split("=")));
                localStorage.setItem("dropboxAuth", JSON.stringify(dropboxAuth));
                document.location.href = "#/";
                document.location.reload();
            }
            window.setTimeout(function() {
                M.AutoInit();
            }, 50)
        }
        window.addEventListener("hashchange", router);
        router();

        window.onbeforeunload = function() {
            if (recepturer.storage.outstandingChanges) {
                return "You have unsaved changes. Are you sure you want to leave?";
            }
        }
    </script>

    <!-- Dependencies -->
    <script type="application/javascript">
        M.AutoInit();
    </script>

</body>

</html>